process.container = 'nextflow/rnaseq-nf'

profiles {
  conda {
    process {
      conda = 'bioconda::salmon bioconda::fastqc bioconda::multiqc'

      executor = 'slurm'
      queue = 'defq'
      memory = '10 GB'
      time = '30 min'
      cpus = 8
      clusterOptions = '--qos=short'

      withName: quantification {
          memory = '20 GB'
      }
    }
  }
}
